
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WMS</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="My Bin" @onclick="()=>expandSubMenu= !expandSubMenu">
                <span class="material-icons treeListIcons" aria-hidden="true"></span> My Bin
            </NavLink>
            @if (expandSubMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="My Bin/Dashbord">
                            <span class="oi oi-dashboard" aria-hidden="true"></span> Dashbord
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="My Bin/My Tasks">
                            <span class="oi oi-task" aria-hidden="true"></span> My Tasks
                        </NavLink>
                    </li>
                </ul>


            }
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Report" @onclick="()=>expandSubMenu1= !expandSubMenu1">
                <span class="oi oi-signal" aria-hidden="true"></span> Reports
            </NavLink>
            @if (expandSubMenu1)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Report/Report x">
                            <span class="oi oi-file" aria-hidden="true"></span> Report x
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Report/Report y">
                            <span class="oi oi-signal" aria-hidden="true"></span> Report y
                        </NavLink>
                    </li>
                </ul>

            }
        </li>



    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;//add
    private bool expandSubMenu1;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}