@using WMS.Client.DataLayer
@inject TabRightTimeService TimeService
@inject IJSRuntime JS;

<div class="taskTimeArea">
    <div class="taskTimeAreainner">
        <div class="taskTimeAreainnerLeft">
            Start Time
        </div>
        <div class="taskTimeAreainnerRight">
            <span>6:88 am</span>, Tuesday
        </div>
    </div>
    <div class="taskTimeAreainner">
        <div class="taskTimeAreainnerLeft">
            Exstimated TAT
        </div>
        <div class="taskTimeAreainnerRight">
            <span>8:88 am</span>, Tuesday[2 Hrs]
        </div>
    </div>
    <div class="taskTimeAreainner">
        <div class="taskTimeAreainnerLeft">
            Due in
        </div>
        <div class="taskTimeAreainnerRight">
            1 Hr 55 Mins
        </div>
    </div>
</div>




@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;
    private int ClickedMenu = 0;
    private bool hasPageName = true;
    private int prevMenuClickedMenu = 0;

    public IEnumerable<TabRightTimeInfo> RightTimeList;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        if (hasPageName)
        {
            collapseNavMenu = !collapseNavMenu;
        }

    }
    public void GetIsClicked(MenuInfo mn)
    {
        ClickedMenu = mn.MenuId;
        if (prevMenuClickedMenu != ClickedMenu)
        {
            expandSubNav = false;
            if (mn.PageName != "" || mn.MenuName == "My Bin")
            {
                hasPageName = true;
            }
            else
            {
                expandSubNav = !expandSubNav;
                hasPageName = false;
            }
        }
        else
        {
            expandSubNav = !expandSubNav;
        }
        prevMenuClickedMenu = ClickedMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        RightTimeList = await TimeService.GetTabRightTimeInfos();
    }
}