@using WMS.Client.DataLayer
@inject TabheadrightService tabRightService
@inject IJSRuntime JS;

<div class="tableArea">
    <div style="display:flex">
        <button class="btnStyle taskCloseButton" title="Close">
            <span class="material-icons">
                close
            </span>Close
        </button>
        <div class="taskDetailsHeadLeft">
            <div class="taskNameStaus">
                <p>
                    PROJ xxxx <span class="taskIconsName taskRisk">
                        <span class="material-icons taskIcons">
                            double_arrow
                        </span>At risk
                    </span>
                </p>
            </div>
            <h1 class="taskDesc">
                Project name Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
            <span class="stageMessage">stage - activity</span>
        </div>
        <div class="taskDetailsHeadRight" style="float:right;">
            <button class="btnStyle" title="Pause">
                <span class="material-icons">
                    pause
                </span>
                Pause
            </button>
            <button class="btnStyle" title="Reject">
                <span class="material-icons">
                    not_interested
                </span>
                Reject
            </button>
            <button class="btnStyle" title="Finish">
                <span class="material-icons">
                    done
                </span> Finish
            </button>
        </div>
    </div>
    <TabRightTime></TabRightTime>
    <div class="filterTable">
        <div></div>
        <div class="filterTableInner">
            <div class="searchArea" style="margin:0px">
                <span class="material-icons">
                    search
                </span>
                <input type="text" class="searchInput" placeholder="Search files">
            </div>
            <div>
                <span class="material-icons filterIcons">
                    filter_list
                </span>
            </div>
        </div>
    </div>
    <Taskdatatable></Taskdatatable>
    <div class="listSoftware">
        <button class="listSoftwareBtn">
            <div class="spriteImage wordImg"></div>
            <div class="btnText">MsWord<br /><span>Editing</span></div>
        </button>
        <button class="listSoftwareBtn">
            <div class="spriteImage indesignImg"></div>
            <div class="btnText">InDesign<br /><span>Editing</span></div>
        </button>
    </div>
</div>
    <div class="taskTabList">
        <ul class="tabList">
            <li class="active" Tabid="Files">Files</li>
            <li Tabid="FileHistory">File History</li>
            <li Tabid="Property">Property</li>
            <li Tabid="Instructions">Instructions</li>
        </ul>
        <div class="tabBody">
            <div id="Files" class="tabInner tabShow">Files</div>
            <div id="FileHistory" class="tabInner">File History</div>
            <div id="Property" class="tabInner">Property</div>
            <div id="Instructions" class="tabInner">Instructions</div>
        </div>
    </div>
   






    @code {
        private bool collapseNavMenu = true;
        private bool expandSubNav;
        private int ClickedMenu = 0;
        private bool hasPageName = true;
        private int prevMenuClickedMenu = 0;

        public IEnumerable<TabheadrightInfo> tabrightlist;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            if (hasPageName)
            {
                collapseNavMenu = !collapseNavMenu;
            }

        }

        protected override async Task OnInitializedAsync()
        {
            tabrightlist = await tabRightService.GetTabheadrightInfos();
        }
    }
