@using WMS.Client.DataLayer
@inject TaskdatatableService datatableService
@inject IJSRuntime JS;


<table id="taskDatatable" style="width:100%">
    <thead>
        <tr>
            <th>S. No.</th>
            <th>Chapter name</th>
            <th>Due date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Project name Lorem ipsum dolor</td>
            <td>01 Jan 2021</td>
            <td>YTS</td>
            <td class="actionBtn">
                <button>
                    <div class="spriteImage wordImg"></div>
                </button>
                <button>
                    <div class="spriteImage indesignImg"></div>
                </button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Project name Lorem ipsum dolor</td>
            <td>01 Jan 2021</td>
            <td>YTS</td>
            <td class="actionBtn">
                <button>
                    <div class="spriteImage wordImg"></div>
                </button>
                <button>
                    <div class="spriteImage indesignImg"></div>
                </button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Project name Lorem ipsum dolor</td>
            <td>01 Jan 2021</td>
            <td>YTS</td>
            <td class="actionBtn">
                <button>
                    <div class="spriteImage wordImg"></div>
                </button>
                <button>
                    <div class="spriteImage indesignImg"></div>
                </button>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Project name Lorem ipsum dolor</td>
            <td>01 Jan 2021</td>
            <td>YTS</td>
            <td class="actionBtn">
                <button>
                    <div class="spriteImage wordImg"></div>
                </button>
                <button>
                    <div class="spriteImage indesignImg"></div>
                </button>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Project name Lorem ipsum dolor</td>
            <td>01 Jan 2021</td>
            <td>YTS</td>
            <td class="actionBtn">
                <button>
                    <div class="spriteImage wordImg"></div>
                </button>
                <button>
                    <div class="spriteImage indesignImg"></div>
                </button>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Project name Lorem ipsum dolor</td>
            <td>01 Jan 2021</td>
            <td>YTS</td>
            <td class="actionBtn">
                <button>
                    <div class="spriteImage wordImg"></div>
                </button>
                <button>
                    <div class="spriteImage indesignImg"></div>
                </button>
            </td>
        </tr>
    </tbody>
</table>







@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;
    private int ClickedMenu = 0;
    private bool hasPageName = true;
    private int prevMenuClickedMenu = 0;

    public IEnumerable<TaskdatatableInfo> datatableList;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        if (hasPageName)
        {
            collapseNavMenu = !collapseNavMenu;
        }

    }

    protected override async Task OnInitializedAsync()
    {
        datatableList = await datatableService.GetdatatableInfos();
    }
}
