@page "/mytask"

<div class="tabBodyInner tabShow" id="MyTasks">
    <div class="viewPortArea gridView">
        <div class="mytaskArea">
            <div class="subHeadList">
                <div class="searchArea">
                    <span class="material-icons">
                        search
                    </span>
                    <input type="text" class="searchInput" placeholder="Search projects">
                    <span class="material-icons filterIcons">
                        filter_list
                    </span>
                </div>
                <div class="viewPort">
                    <ul class="viewPortList">
                        <li class="active">
                            <button class="gridView" title="Grid">
                                <span class="material-icons">
                                    grid_view
                                </span>
                            </button>
                        </li>
                        <li class="">
                            <button class="listView" title="List">
                                <span class="material-icons">
                                    list
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            @* Task Calender Component *@
            <TaskCalender></TaskCalender>
            <InnerTask></InnerTask>

        </div>
    </div>
</div>



@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;
    private int ClickedMenu = 0;
    private bool hasPageName = true;
    private int prevMenuClickedMenu = 0;

   

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        if (hasPageName)
        {
            collapseNavMenu = !collapseNavMenu;
        }

    }
    
   
}